* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    background-color: #fff;
}

article {
    margin: 10%;
    color: #333;
    font-family: 'Lato', sans-serif;
}

article h1 {
    margin: 0 0 2rem 0;
    font-size: 4rem;
}

article h1:after {
    font-weight: normal;
}

article p {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 7px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

article p.margin {
    margin-bottom: 2rem;
}

article a {
    cursor: hand;
    color: #333;
}

.underlined {
    transition: border-color 100ms;
    border-bottom: 4px solid #523946;
}

.underlined:hover {
    border-color: #0f1fdc;
}

.links {
    margin: 55px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.links li {
    display: inline-block;

}

.links li a {
    margin: 15px;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.links li a:after {
    font-weight: normal;
}

.links li:first-of-type a {
    margin-left: 0;
}

.links li a:hover {

}

.introduction {
    display: inline-block;
}

