* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    background-color: #171014;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

article {
    margin-top: 13%;
    margin-left: 10%;
    color: #333;
    font-family: 'Lato', sans-serif;
}

article h1 {
    color: #EFEBED;
    margin: 0 0 2rem 0;
    font-size: 4rem;
}

article h1:after {
    font-weight: normal;
}

article p {
    color: #caacb6;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 7px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

article a {
    cursor: hand;
}

.underlined {
    transition: border-color 100ms;
    border-bottom: 4px solid #523946;
}

.underlined:hover {
    color: #caacb6;
    border-color: #ed4949;
}

.links {
    margin: 55px 0 0 0;
    padding: 0;
}

.links li {
    display: inline-block;
}

.links li a {
    margin: 15px;
    color: #ed4949;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
}

.links li a:after {
    font-weight: normal;
}

.links li:first-of-type a {
    margin-left: 0;
}

.links li a:hover {

}

.introduction {
    display: inline-block;
}

