* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Karla');

@import url('https://rsms.me/inter/inter-ui.css');

body {
    background-color: #fbfcfc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

.wave-xp {
    width: 100%;
    height: 200px;
    transform: rotate(180deg);
}

article {
    margin: 0 10% 10%;
    color: #2a2734;
    font-family: 'Inter UI', sans-serif;
}

article h1 {
    margin: 0 0 2rem 0;
    font-size: 4rem;
}

article h1:after {
    font-weight: normal;
}

article .about p {
    font-size: 1.59831rem;
    font-weight: 300;
    color: #363135;
    letter-spacing: 0.6px;
    line-height: 1.8rem;
    margin: 7px 0;
}

article p.margin {
    margin-bottom: 2rem;
}

article a {
    cursor: hand;
    color: #363135;
}

.underlined {
    position: relative;
}

.underlined:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    transition: background 100ms;
}

.underlined:hover:before {
    background: #e7d9d3;
}

.links {
    font-family: "Roboto", Karla, sans-serif;
    padding: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
}

.links li {
    display: inline-block;

}

.links li a {
    margin: 15px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.links li:last-of-type a {
    margin-right: 0;
}

.links li a:after {
    font-weight: normal;
}

.links li:first-of-type a {
    margin-left: 0;
}

.icon-row {
    position: relative;
    overflow: hidden;
}

.icon-links li a {
    font-size: 1.3rem;
    color: #9f9999;
}

.contact {
    position: absolute;
    top: 19px;
    right: -1px;
    transition: transform 200ms;
    transform: translateX(0);
}

.contact.hidden {
    transform: translateX(100%);
}

.contact-button {
    background: #eee;
    border-radius: 15px;
    padding: 14px;
}

.introduction {
    display: inline-block;
}

.portfolio .row {
    margin-bottom: 15px;
}

.portfolio .row > div {
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.portfolio img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: filter 300ms;
    border-radius: 20px;
}

.portfolio img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); 
}

.project .header {
    margin-bottom: 3rem;
}

.project .header h1 {
    margin-bottom: .1rem;
    position: relative;
    right: 3px;
    color: #2a2734;
}
.project .header small {
    color: #bfbfbf;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 5rem;
}

.project .module {
    margin-bottom: 6rem;
}

.project .button-medium {
    background: #f3f4f5;
    padding: 20px;
    border-radius: 5px;
}

.project h3 {
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0;
}

.project .module .body {
    margin-left: 2rem;
}

.project .module .body p {
    font-size: 1.1rem;
    width: 50%;
}

.project .image-list img {
    margin-top: 40px;
    height: 250px;
    width: 100%;
}

.project .image-list small {
    font-size: 1.1rem;
}

.project .color-list {
    list-style: none;
    padding: 0;
    margin: 4rem 0 0;
}
.project .color-list li {
    display: block;
    float: left;
}

.project .color-list li:not(:last-of-type) {
    margin-right: 4rem;
}

.project .color-list div {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.color-list .color-1 {
    background: #caacb6;
}

.color-list .color-2 {
    background: #caacb6;
}

.color-list .color-3 {
    background: #caacb6;
}

.project .color-list small {
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #ccc;
}
